
@{
    ViewData["Title"] = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buy Error</h1>

<p>I'm sorry, you don't have enough monies!</p>
<a asp-controller="Home" asp-action="Items">Go Back to Items</a>

