@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="LoginUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login Now!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!--This is needed for validations to work-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}